<ul id="slides">

    <% @users.each do |user| %>
        <div class="slide" data-id="<%= user.id %>">
            <li><%= user.first_name %></li>
        </div>
    <% end %> 

</ul>

<button id="decline" class="controls">No</button>
<button id="approve" class="controls">Yes</button>